.header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #ffffff;
}
.number {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.email {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
}
.cont {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;

}
.port {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}
.stud {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;

}

.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 36px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;

}

.hero {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

background: #2F303A;
}
.btn {
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.nadp {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 230px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.zam {
    position: absolute;
    width: 152px;
    height: 30px;
    left: 724px;
    top: 425px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.th {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 155px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

}
.th2 {
    position: absolute;
width: 270px;
height: 16px;
left: 451px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.th3 {
    position: absolute;
width: 270px;
height: 16px;
left: 735px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.th4 {
    position: absolute;
width: 270px;
height: 16px;
left: 1065px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.td {
    position: absolute;
width: 270px;
height: 72px;
left: 215px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;

}
.td2 {
    position: absolute;
width: 270px;
height: 48px;
left: 515px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.td3 {
    position: absolute;
width: 270px;
height: 48px;
left: 815px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.td4 {
    position: absolute;
width: 270px;
height: 72px;
left: 1115px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}
.h2 {
    position: absolute;
width: 366px;
height: 42px;
left: 617px;
top: 966px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.mg {
    position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1058px;

background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}
.mg2 {
    position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1058px;

background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}

.mg3 {
    position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1058px;

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.bg_2 {
    position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1446px;

background: #F5F4FA;
}
.h3 {
    position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1540px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.img1 {
    position: absolute;
width: 270px;
height: 260px;
left: 215px;
top: 1632px;

background: url(4853.jpg);
border-radius: 0px;
}
.ig {
    position: absolute;
width: 129px;
height: 19px;
left: 286px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.ig2 {
    position: absolute;
width: 130px;
height: 19px;
left: 285px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.ig_bg {
    position: absolute;
width: 270px;
height: 368px;
left: 215px;
top: 1632px;

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.img2 {
    position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1632px;

background: url(5844.jpg);
border-radius: 0px;
}
.ol {
    position: absolute;
width: 104px;
height: 19px;
left: 598px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.ol1 {
    position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.ol_bg {
    position: absolute;
width: 270px;
height: 368px;
left: 515px;
top: 1632px;

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.img3 {
    position: absolute;
width: 270px;
height: 260px;
left: 815px;
top: 1632px;

background: url(16166.jpg);
border-radius: 0px;
}
.mi {
    position: absolute;
width: 130px;
height: 19px;
left: 885px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.mi1 {
    position: absolute;
width: 76px;
height: 19px;
left: 912px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.mi_bg {
    position: absolute;
width: 270px;
height: 368px;
left: 815px;
top: 1632px;

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.img4 {
    position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1632px;

background: url(2968.jpg);
border-radius: 0px;
}
.mix {
    position: absolute;
width: 145px;
height: 19px;
left: 1178px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.mix1 {
    position: absolute;
width: 87px;
height: 19px;
left: 1207px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;

}
.mix_bg {
    position: absolute;
width: 270px;
height: 368px;
left: 1115px;
top: 1632px;

background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.fo {
    position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;

background: #2F303A;
}
.logo1 {
    position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 54px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;

}
.gor {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 95px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;

}
.email2 {
    position: absolute;
width: 136px;
height: 21px;
left: 215px;
top: 125px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.tel1 {
    position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 155px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}